.section-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content-container {
    width: 100%;
}

.content-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6rem;
}


.content-description {
    margin-top: 2rem;
    align-self: flex-start;
    color: var(--subtext-0);
    line-height: 1.5;
}

.add-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.add-todo {
    padding: 1rem;
    font-size: 2rem;
    color: var(--text);
    background-color: var(--base);
    border: none;
    border-radius: 1rem;
    box-shadow: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.add-todo:hover {
    color: var(--crust);
    background-color: var(--teal);
}

.todo-hr {
    margin-top: 2rem;
}

.check {
    padding: 1.2rem;
    border: 2px var(--crust) dashed;
    border-radius: 100%;
    cursor: pointer;
}

.checked {
    padding: 0;
    border: none;
    font-size: 2.8rem;
}

.completed {
    text-decoration: line-through;
    font-style: italic;
    opacity: 0.5;
}

.todo-container {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    color: var(--crust);
    background-color: var(--blue);
    border: 1px var(--subtext-1) solid;
    position: relative;
}

.todo-description {
    color: var(--crust);
    font-size: 1.8rem;
}

.edit-project {
    font-size: 2rem;
    color: var(--text);
    transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.edit-project:hover {
    color: var(--peach);
}

.edit-todo {
    font-size: 2rem;
    transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.edit-todo:hover  {
    color: var(--text);
}

.delete-todo {
    font-size: 2rem;
    transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.delete-todo:hover {
    color: red;
}

.title-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.todo-data {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 0.8rem;
}

.high-priority {
    background-color: var(--red);
    border: none;
}

.medium-priority {
    background-color: var(--yellow);
    border: none;
}

.date {
    font-size: 1.5rem;
}

/* form {
    .create-todo, .create-project {
        width: 80%;
        padding: 1rem;
        border-radius: 1rem;
        border: none;
        background-color: var(--sky);
        cursor: pointer;
    } 

    section {
        background: #000;

        > button {
            color: red;
        
            >:hover {}
        }
    }
} */


