dialog {
    position: fixed;
    width: 30rem; 
    max-width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--base);
    color: var(--text);
    border: none;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 20;
}

dialog.open {
    opacity: 1;
    pointer-events: auto;
}

dialog[open] {
    opacity: 1;
}

form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
}

input, textarea, select {
    background-color: var(--text);
    font-family: "Outfit", serif;
}

option {
    background-color: white;
}

.close-project, .close-todo {
    position: fixed;
    right: 2rem;
    border-radius: 2rem;
    padding: 0.5rem;
    color: var(--text);
    background-color: transparent;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.close-project:hover, .close-todo:hover {
    background-color: var(--red);
    opacity: 1;
    color: black;
}

.create-todo, .create-project {
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.8rem;
    border: none;
    background-color: var(--sky);
    cursor: pointer;
}


.todo-dialog {
    width: 50%;
}

.project-dialog {
    width: 30%;
}

.date-priority {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    gap: 2rem;
    margin-bottom: 1rem;
}

.date-container, .priority-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}


.todo-title, .todo-description, .project-description, .project-title {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.todo-title>input, .project-title>input, .todo-description>textarea, .project-description>textarea {
    border-radius: 0.6rem;
}

.todo-title>input, .project-title>input {
    padding: 1rem;
}

.todo-description>textarea, .project-description>textarea {
    max-width: 100%;
    min-width: 100%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6); 
    backdrop-filter: blur(5px);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 10;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
} 



