.todo-count {
    margin-left: auto;
    color: var(--crust);
    background-color: var(--lavender);
    padding: 0.3rem 0.6rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
}

.section-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.projects-title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}

.add-project {
    background-color: transparent;
    border: none;
    font-size: 2.5rem;
    margin-top: 0.5rem;
    cursor: pointer;
    color: var(--surface-0);
    transition: color 0.15s ease-in, transform 0.2s ease-out;
}

.add-project:hover {
    color: var(--teal);
    opacity: 1;
}

.sidebar-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 1rem;
}

.list-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 1rem;
    color: var(--text);
    background-color: transparent;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.list-item:hover {
    background-color: var(--rosewater);
    color: var(--mantle);
    opacity: 1;
    transform: scale(1.02);
}

.project-button {
    flex: 1;
    font-size: 1.5rem;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 2rem;
}


.delete-item, .delete-todo, .edit-todo, .edit-project {
    padding: 0.5rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.delete-item {
    color: var(--crust);
    font-size: 1.5rem;
    transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.delete-item:hover {
    color: red;
    opacity: 1;
}

.content {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6rem;
}

.project-description {
    margin-top: 2rem;
    color: var(--subtext-0);
    line-height: 1.5;
}

.add-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.add-todo {
    padding: 1rem;
    font-size: 2rem;
    color: var(--text);
    background-color: var(--base);
    border: none;
    border-radius: 1rem;
    box-shadow: none;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.add-todo:hover {
    color: var(--crust);
    background-color: var(--teal);
}

.todo-container {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    color: var(--crust);
    background-color: var(--blue);
    border: 1px var(--subtext-1) solid;
}

.edit-project {
    font-size: 2rem;
    color: var(--text);
    transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.edit-project:hover {
    color: var(--peach);
}

.edit-todo {
    font-size: 2rem;
    transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.edit-todo:hover  {
    color: var(--text);
}

.delete-todo {
    font-size: 2rem;
    transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.delete-todo:hover {
    color: red;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.todo-hr {
    margin-top: 2rem;
}

.high-priority {
    background-color: var(--red);
    border: none;
}

.medium-priority {
    background-color: var(--yellow);
    border: none;
}   

.create-todo, .create-project {
    width: 80%;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--sky);
    cursor: pointer;
}

.close-project, .close-todo {
    position: fixed;
    right: 2rem;
    border-radius: 2rem;
    padding: 0.5rem;
    color: var(--text);
    background-color: transparent;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.close-project:hover, .close-todo:hover {
    background-color: var(--red);
    opacity: 1;
    color: black;
}

.date-priority {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    gap: 2rem;
    margin-bottom: 1rem;
}

.date-container, .priority-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.todo-dialog {
    width: 50%;
}

.todo-title, .todo-description {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.todo-title>input, .project-title>input, .todo-description>textarea {
    border-radius: 0.6rem;
}

.todo-title>input, .project-title>input {
    padding: 1rem;
}

.todo-description>textarea {
    max-width: 100%;
    min-width: 100%;
}

.project-title {
    display: flex;
    flex-direction: column;
    width: 80%;
}



